@model CalcViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Результаты расчёта:<br />
    <table class="table table-hover">
        <tr>
            <th>Координаты y, м</th>
            @for (int y = 0; y < Model.ResultTable.GetLength(0); y++)
            {
                <th>@(y/2.0)</th>
            }
        </tr>

        @for (int i = 0; i < Model.ResultTable.GetLength(1); i++)
        {
            <tr>
                <td>@Formulas.GetResultRowName(i)</td>
                @for (int y = 0; y < Model.ResultTable.GetLength(0); y++)
                {
                    <td>@Model.ResultTable[y, i]</td>
                }
            </tr>
        }
    </table>
    <div id="chart"></div>
    <div id="chart2"></div>
    <script>
        var positions = @Json.Serialize(Model.PositionsY);
        positions.unshift("x");

        var tempMaterial = @Json.Serialize(Model.TempMaterial);
        tempMaterial.unshift("Температура окатышей, С");

        var tempGas = @Json.Serialize(Model.TempGas);
        tempGas.unshift("Температура воздуха, С");

        var tempRaznitsa = @Json.Serialize(Model.TempRaznitsa);
        tempRaznitsa.unshift("Разность температур, С");

        var chart = c3.generate({
            bindto: '#chart',
            data: {
                x: 'x',
                columns: [
                    positions,
                    tempMaterial,
                    tempGas,
                ]
            }
        });

        var chart2 = c3.generate({
            bindto: '#chart2',
            data: {
                x: 'x',
                columns: [
                    positions,
                    tempRaznitsa,
                ]
            }
        });
    </script>
</div>
